[submodule "src/reward_pipeline/vision/grounding-dino"]
	path = src/reward_pipeline/vision/grounding-dino
	url = git@github.com:IDEA-Research/GroundingDINO.git
[submodule "src/reward_pipeline/vision/segment-anything"]
	path = src/reward_pipeline/vision/segment-anything
	url = git@github.com:facebookresearch/segment-anything.git
[submodule "src/reward_pipeline/vision/GroundingDINO"]
	path = src/reward_pipeline/vision/GroundingDINO
	url = git@github.com:IDEA-Research/GroundingDINO.git
